In [1]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

In [4]:
db= mysql.connector.connect(host="localhost",user="root",passwd="Deep91097@",database="fifa19")

In [5]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002008D579640>

In [6]:
mycursor = db.cursor()
mycursor.execute("select * from players limit 10")
result = mycursor.fetchall()

In [7]:
from pprint import pprint

In [8]:
pprint(result)

[(158023,
  'L. Messi',
  31,
  'Argentina',
  94,
  94,
  'FC Barcelona',
  110500000,
  565000,
  'Left',
  10,
  datetime.datetime(2004, 7, 1, 0, 0),
  "5'7",
  159,
  75),
 (20801,
  'Cristiano Ronaldo',
  33,
  'Portugal',
  94,
  94,
  'Juventus',
  77000000,
  405000,
  'Right',
  7,
  datetime.datetime(2018, 7, 10, 0, 0),
  "6'2",
  183,
  85),
 (190871,
  'Neymar Jr',
  26,
  'Brazil',
  92,
  93,
  'Paris Saint-Germain',
  118500000,
  290000,
  'Right',
  10,
  datetime.datetime(2017, 8, 3, 0, 0),
  "5'9",
  150,
  81),
 (193080,
  'De Gea',
  27,
  'Spain',
  91,
  93,
  'Manchester United',
  72000000,
  260000,
  'Right',
  1,
  datetime.datetime(2011, 7, 1, 0, 0),
  "6'4",
  168,
  40),
 (192985,
  'K. De Bruyne',
  27,
  'Belgium',
  91,
  92,
  'Manchester City',
  102000000,
  355000,
  'Right',
  7,
  datetime.datetime(2015, 8, 30, 0, 0),
  "5'11",
  154,
  79),
 (183277,
  'E. Hazard',
  27,
  'Belgium',
  91,
  91,
  'Chelsea',
  93000000,
  340000,
  'Right',
  10,
  datetime.datetime(2012, 7, 1, 0, 0),
  "5'8",
  163,
  86),
 (177003,
  'L. ModriÛˆ',
  32,
  'Croatia',
  91,
  91,
  'Real Madrid',
  67000000,
  420000,
  'Right',
  10,
  datetime.datetime(2012, 8, 1, 0, 0),
  "5'8",
  146,
  82),
 (176580,
  'L. Suíçrez',
  31,
  'Uruguay',
  91,
  91,
  'FC Barcelona',
  80000000,
  455000,
  'Right',
  9,
  datetime.datetime(2014, 7, 11, 0, 0),
  "6'0",
  190,
  85),
 (155862,
  'Sergio Ramos',
  32,
  'Spain',
  91,
  91,
  'Real Madrid',
  51000000,
  380000,
  'Right',
  15,
  datetime.datetime(2005, 8, 1, 0, 0),
  "6'0",
  181,
  75),
 (200389,
  'J. Oblak',
  25,
  'Slovenia',
  90,
  93,
  'Atlí©tico Madrid',
  68000000,
  94000,
  'Right',
  1,
  datetime.datetime(2014, 7, 16, 0, 0),
  "6'2",
  192,
  11)]

In [10]:
cmd = '''
    create table contacts(name varchar(255),phone int(11))
'''
print(cmd)
mycursor.execute(cmd)

    create table contacts(name varchar(255),phone int(11))

In [11]:
cmd = '''
    insert into contacts(name,phone) values(%s,%s)
'''
val = ("MAria",1111111111)
mycursor.execute(cmd,val)
db.commit()

In [12]:
mycursor.execute("delete from contacts")
db.commit()

In [16]:
mycursor.execute("select name from players where nationality = 'United States' limit 10")

In [17]:
result = mycursor.fetchall()
pprint(result)

[('C. Pulisic',),
 ('J. Brooks',),
 ('F. Johnson',),
 ('T. Chandler',),
 ('J. Altidore',),
 ('M. Bradley',),
 ('D. Yedlin',),
 ('Z. Steffen',),
 ('B. Feilhaber',),
 ('I. Opara',)]

In [18]:
mycursor.execute("create index name_1 on contacts(name)")
db.commit()